Source: nin10kit
Section: graphics
Priority: optional
Maintainer: Brandon Whitehead <tricksterguy87@gmail.com>
Build-Depends: debhelper (>= 9), cmake, libmagick++-dev, libmagickwand-dev, libmagickcore-dev, libwxgtk3.0-dev
Standards-Version: 3.9.6
Homepage: https://github.com/TricksterGuy/nin10kit
Vcs-Git: https://github.com/TricksterGuy/nin10kit.git

Package: nin10kit
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Image to C array exporter for the GBA/DS/3DS platforms
 A set of tools for doing homebrew game development, includes look up table
 generators and an image to C exporter for Nintendo's Gameboy Advance, DS, and
 3DS systems.  In addition the GUI version of the program allows you to see what
 the image would look like on a real gameboy advance before exporting. 
 Coming soon the ability to edit the bitmap/palette/tilemaps before exporting
 to the GBA.
